<div>
<h1>Contact</h1>
<p>jkasflhlasdjkgnasldviknalwsrrefgnlasdkvnlasrigfnlasdfkvhzlsdfgjkn klsehjflas   sdgf asldkgjasldf gasd fg asdlfgjalreitghoierg asrg aiosd gisadg fvjasidfgalsd ifgasd fglasdfg asidg asldikg hjasldkgf asldfg asdklg lgas.</p>
    <div>
        <div class="card w-50">
            <div class="card-body d-flex justify-contect-evently">
                Your E-mail
                <label for="exampleInputEmail1" class="form-label"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </div>
    </div>
</div>