<div class="container align-items-center m-5"> 
    <div class="row "> 
        <div class="col-9"> 
            <h1 class="">The First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, nisi! Ipsam cum, eius itaque corrupti vitae, repellat delectus obcaecati quia sapiente nemo aliquam beatae placeat!</p>
        </div>
        <div class="col-3 text-center"> 
            <img src="https://raw.githubusercontent.com/4GeeksAcademy/collaborative-html-website-latam-pt-42/refs/heads/master/website/assets/img/1.jpg" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
