<!-- your html code here -->
<div class="container">
    <h2>Portafolio</h2>
    <div class="row">
        <div class="d-flex">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Deserunt consequuntur iste a amet ex quod nesciunt reiciendis sunt id corporis?
                Laboriosam modi id facilis omnis repellat excepturi, dolores praesentium ad rerum
                ab deserunt porro ratione quam architecto necessitatibus et illo officia voluptatem
                debitis at quaerat doloribus rem cum! Voluptatibus numquam ex quod rem nisi obcaecati ab,
                nemo repellendus praesentium dolorum eaque, blanditiis tempora, maxime repudiandae fugiat
                ipsum est autem! Voluptatibus sequi neque iste quos odio alias, ullam praesentium doloribus
                obcaecati similique culpa, necessitatibus soluta voluptates? Unde sint odit, voluptatum aliquam
                veritatis similique pariatur debitis, esse dicta ratione sunt sequi rerum!</p>
        </div>
    </div>
    <div class="row">

        <div class="card m-3" style="width: 20rem;padding: 3px;">
            <img src="https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/123de22c8ac368513ba5b550326f06b472096718/website/assets/img/big-project-image.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="text-primary">Project Name</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-3" style="width: 20rem;padding: 3px">
            <img src="https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/123de22c8ac368513ba5b550326f06b472096718/website/assets/img/big-project-image.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="text-primary">Project Name</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card m-3" style="width: 20rem; padding: 3px">
            <img src="https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/123de22c8ac368513ba5b550326f06b472096718/website/assets/img/big-project-image.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="text-primary">Project Name</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>


    </div>


</div>